<h1>User#welcome</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p>
 Bonjour <%= @user.first_name %>,

Nous t'annonçons que tu es bien inscrit sur notre site.

N'hesite pas a confirmer ta présence et post des chansons qui te ferais vibrer ;)

 <%= link_to "présence ici", contact_url %>,


