<section id="bookWeddingPlanner" class="whitebg padded-content-sm">
  <div class="container">
    <div class="row">
      <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4" >
        <div class="text-center padded-content-sm">
          <h3><%= t('contact_us') %></h3>
          <br/>
          <small>220 avenue de Pérouse, 13090 Aix-en-Provence</small>
          <small>Email: <a href="mailto:info@blanca-jeremy.com">info@blanca-jeremy.com</a></small>
          <small>Mobile: (+33)6 99 11 73 95 / (+33)6 44 23 49 13</small>
          </div><!-- /.text-center -->
          </div><!-- /.col -->
          <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="text-center">
              <h1><%= t('enquire') %></h1>
              <a class="hvr-grow btn btn-medium" <%= link_to(t("contact_title") , contact_path) %></a>
              </div><!-- /.text-center -->
              </div><!-- /.col -->
              <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="text-center padded-content-sm">
                  <h3><%= t('follow_us') %></h3>
                  <br/>
                  <ul id="socialMedia" class="list-inline">
                    <li ><a href="#" target="_blank"><span class="fa fa-facebook"></span></a></li>
                    <li ><a href="#" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    <li ><a href="#" target="_blank"><span class="fa fa-instagram"></span></a></li>
                    <li><a href="#" target="_blank"><span class="fa fa-google"></span></a></li>
                    <li ><a href="http://pinterest.com/blanca-jeremy" target="_blank"><span class="fa fa-pinterest"></span></a></li>
                  </ul>
                  </div><!-- /.text-center -->
                  </div><!-- /.col -->
                  </div><!-- /.row -->
                  </div><!-- /.container -->
                  </section><!-- /bookWeddingPlanner-->
                  <footer id="siteFooter" class="whitebg text-center">
                    <div class="container">
                      <ul id="footerCredits" class="list-unstyled">
                        <li><small>&copy; 2017 blanca-jeremy.com All rights reserved.</small></li>
                      </ul>
                    </div>
                  </footer>
