<div class="wrapper-beige text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2><%= t('contact_title') %></h2>
      <h3><%= t('contact_name_blanca') %></h3>
      <p><%= t('address_spain') %></p>

      </div>
    </div>
  </div>
</div>
