
<div class="banner_maintenance">
  <div class="banner-content">
    <h1>Le site est presque prêt, encore un peu de patience </h1>
    <p>Tu peux toujours nous contacter par mail au info@blanca-jeremy.com </p>
  </div>
</div>
